<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Legacy Chat</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div id="login">
        <h1>Welcome to Simple Chat</h1>
        <form>
            <!-- These buttons navigate the user to the correct page -->
            <button type="button" onclick="window.location.href='/login'">Login</button>
            <button type="button" onclick="window.location.href='/createAccount'">Create New Account</button>
        </form>
    </div>
</body>
</html>